<%=content_for :head do %>
	<title>contact</title>
<% end %>

<%=content_for :intro do %>
	<h1>contact_Us</h1>
	<h2>contactenos para atenderlos</h2>
<% end %>

<%= form_for:upc, :html => {:method => :post, :class =>"needs-validation", :novalidate => "novalidate"}, :url => {:controller => "static", :action => "mimetodo"} do |f| %>
	
	<%= f.label :titulo %>
	<%= f.text_field :titulo, { :class => "form-control", :required => "required" } %>
	<div class="valid-feedback">Valido.</div>
	<div class="invalid-feedback">Por favor llenar el Titulo</div>

	<br>

	<%= f.label :descripcion %>
	<%= f.text_area :descripcion, { :class => "form-control", :required => "required" } %>
	<div class="valid-feedback">Valido.</div>
	<div class="invalid-feedback">Por favor llenar la descripcion</div>

	<br>

	<%= f.submit "Enviar Datos", :class => "btn btn-primary" %>
<% end %>

<!--
		<form>
			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" id="exampleInputPassword1">
			</div>
			<div class="form-group form-check">
				<input type="checkbox" class="form-check-input" id="exampleCheck1">
				<label class="form-check-label" for="exampleCheck1">Check me out</label>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>	
<--

	