<!--
<ul>
	<li style = "display: inline"><%= link_to "Home",root_path %></li>
	<li style = "display: inline"><%= link_to "About Us",about_path %></li>
	<li style = "display: inline"><%= link_to "Our Services",services_path %></li>
	<li style = "display: inline"><%= link_to "faq",faq_path %></li>
<ul>
-->

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href=".">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">Abou Us</a>
  </li>
  <li class="nav-item">
    <%= link_to 'Services', services_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Faq', faq_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'contact_Us', contact_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Listar Alunmos', alumnos_path, :class => "nav-link" %>
  </li>
</ul>